.TargetDetailsPage {
  padding: 20px 0px;
}

.TargetPageHeader {
  display: flex;
  justify-content: space-between;
}

.TargetPageTitle {
  font-size: 28px;
  color: var(--dark-text-color);
  font-weight: 600;
  margin-bottom: 20px;
}

.TargetProperty:not(:last-child) {
  margin-bottom: 10px;
}

.TargetPropertyName {
  font-size: 22px;
  color: var(--dark-text-color);
  display: flex;
}

.TargetPropertyContent {
  font-size: 18px;
  color: #666;
}

.DangerousSection {
  border-radius: 5px;
  padding: 20px 0px;
}

.DangerousSectionTitle {
  font-size: 24px;
  color: var(--red-color);
  margin-bottom: 10px;
}