.TargetList {
  padding: 20px 0px;
}

.PeriodSection:not(:last-child) {
  margin-bottom: 20px;
}
.PeriodSectionTitle {
  font-size: 24px;
  color: var(--dark-text-color);
  margin-bottom: 10px;
}
.TargetLabel {
  margin-bottom: 10px;
}
.EmptyPlaceholder {
  padding: 20vh 0px;
  text-align: center;
  color: #777;
}