.TargetLabel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 5px 10px 5px 8px;
  box-sizing: border-box;
  border: 1px solid var(--green-color);
  border-left: 10px solid var(--green-color);
  border-radius: 5px;
}

.TargetName {
  flex: 1 0 auto;
}