.Title {
  font-size: 28px;
  font-weight: 700;
  color: var(--dark-text-color);
  letter-spacing: 0.5px;
  word-spacing: 5px;
  user-select: none;

  span {
    font-size: inherit;
    color: var(--green-color);
  }
}