.ToggleTargetButton {
  font-size: 26px;
  line-height: 1;
}

.BigToggleTargetButton {
  font-size: 36px;
  line-height: 1;
}

.Done {
  color: var(--green-color);
}

.NotDone {
  color: var(--red-color);
}