.SingleTopicPage {
  padding-top: 20px;

  .TopicName {
    font-size: 28px;
    font-weight: 600;
    color: var(--dark-text-color);

    span {
      color: var(--green-color);
    }
  }

  .TargetsContainer {
    padding: 20px 0px;
  }

  .Target:not(:last-child) {
    margin-bottom: 10px;
  }
}