.TopicLabel {
  width: 100%;
  padding: 40px 20px;
  border-radius: 10px;
  background: var(--light-green-color);
  border: 1px solid var(--green-color); 
  user-select: none;
  
  .TopicName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--dark-text-color);
  }
}